@{
    ViewBag.Title = "Phân Đơn vị";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ControllerName = "NguoiDung";
}
<style>
    .btn-action {
        width: 110px;
    }
</style>
<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <header class="page-title-bar">
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto">@ViewBag.Title</h1>
                    <div class="btn-toolbar">
                        @*<button type="button" class="btn btn-success" onclick="Popup('@Url.Action("AddOrUpdate",ControllerName)')">Thêm</button>*@
                    </div>
                </div>
            </header>
            <div class="page-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <h4 class="card-title"> Danh mục đơn vị </h4>
                                <div id="jstree6"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <form id="form" action="/NguoiDung/AddNguoiDungVaoDonVi" method="post" onsubmit="event.preventDefault();return SubmitForm(this);">
                                    <fieldset>
                                        <legend>Phân người dùng cho đơn vị</legend>
                                        <div class="form-group">
                                            <label for="tf1">Mã đơn vị</label>
                                            <input type="text" class="form-control" name="DonViId" id="DonViId" />
                                        </div>
                                        <div class="form-group">
                                            <label for="tf1">Tên đơn vị</label>
                                            <input type="text" class="form-control" name="Ten" id="Ten" />
                                        </div>
                                        <div class="form-group">
                                            <label for="tf1">Tên người dùng</label>
                                            <select id="Id" name="Id" class="form-control" data-toggle="select2" data-placeholder="Chọn tài khoản" data-allow-clear="true">
                                               </select>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-primary btn-action">Lưu</button>
                                    <button type="button" class="btn btn-warning btn-action" onclick="Reset()">Reset</button>
                                </form>
                            </div>
                        </div>
                        <div class="card card-fluid">
                            <div class="card-body">
                                <table id="datatable" class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px; min-width: 100px;"> &nbsp; </th>
                                            <th style="min-width: 80px;"> STT </th>
                                            <th style="min-width: 200px; width: 400px; ">Tên tài khoản</th>
                                            <th style="min-width: 200px; width: 200px; ">Họ và tên</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function Reset() {
            $("#form").trigger('reset');
        }
        function Popup(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalcontent').html(response);
                    $("#exampleModal").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function SubmitForm(form) {
            if (window.Loading)
                return;
            window.AddLoading();
            var post_url = $(form).attr("action");
            $.ajax({
                url: post_url,
                type: 'POST',
                data: $(form).serialize(),
                success: function (response) {
                    if (response.Status) {
                        toastr.success(response.Message);
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        $("#form").trigger('reset');
                        $('#jstree6').jstree(true).refresh();
                    } else {
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(response.Message);
                    }
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi.");
                }
            });
            return false;
        }
        function PopupDelete(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalDeleteContent').html(response);
                    $("#exampleModalAlertDanger").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function ViewData(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#DonViChaId').val(response.DonViChaId);
                    $('#DonViId').val(response.Id);
                    $('#Ten').val(response.Ten);
                    $('#TenVietTat').val(response.TenVietTat);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function CreateDonViCon(id) {
            $("#form").trigger('reset');
            var url = "/DonVi/GetById/" + id;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#DonViChaId').val(response.Id);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function DeleteForm() {
            var url = "/DonVi/Delete/" + $("#Id").val();
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#form").trigger('reset');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function Delete(id) {
            var url = "/DonVi/Delete/" + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#form").trigger('reset');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        $('#jstree6').on('changed.jstree', function (e, data) {
            toastr.options = {
                'positionClass': 'toast-bottom-right'
            };
            //toastr.info('The selected id is: ' + data.selected);
            if (data.node) {
                ViewData("/DonVi/GetById/" + data.node.id);
                LoadDataNguoiDungTheoDonVi(data.node.id);
                ListNguoiDungChuaCoDonVi();
            }

        }).jstree({
            plugins: ['types'],
            core: {
                data: {
                    url: '/DonVi/LoadTreeDonVi',
                    data: function data(node) {
                        return {
                            id: node.id
                        };
                    }
                },
                check_callback: true
            },
            //"contextmenu": {
            //    "items": function ($node) {
            //        var tree = $("#jstree6").jstree(true);
            //        return {
            //            "Create": {
            //                "separator_before": false,
            //                "separator_after": false,
            //                "label": "Tạo đơn vị con",
            //                "action": function (obj) {
            //                    CreateDonViCon($node.id);
            //                }
            //            },
            //            "Remove": {
            //                "separator_before": false,
            //                "separator_after": false,
            //                "_disabled": $node.original.root ? true : false,
            //                "label": "Xóa đơn vị",
            //                "action": function (obj) {
            //                    Delete($node.id)
            //                }
            //            }
            //        };
            //    }
            //},
            types: Looper.jsTreeTypes()
        });


        function RenderButtonItem(ID) {
            var str = "";
            str += '<a style="margin-top: 0px" class="btn btn-sm btn-icon btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Xóa" onclick="DeleteNguoiDungRaKhoiDonVi(\'/NguoiDung/DeleteNguoiDungRaKhoiDonVi/' + ID + '\')"><i class="far fa-trash-alt" style="color: white"></i></a>';
            return str;
        }

        function LoadDataNguoiDungTheoDonVi(donViId) {
            let DonViId = donViId;
            $('#datatable').DataTable({
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n        <'table-responsive'tr>\n        <'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
                language: {
                    "sLengthMenu": "Hiển thị  _MENU_",
                    "search": "Tìm kiếm",
                    "searchPlaceholder": "Tên người dùng...",
                    paginate: {
                        previous: '<i class="fa fa-lg fa-angle-left"></i>',
                        next: '<i class="fa fa-lg fa-angle-right"></i>'
                    },
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "ordering": false,
                "info": false,
                "processing": true,
                "serverSide": true,
                "info": false,
                "stateSave": false,
                "destroy": true,
                "ajax":
                {
                    "url": "/NguoiDung/GetNguoiDungTheoDonVi",
                    "type": "POST",
                    "dataType": "JSON",
                    "data": {
                        "DonViId": DonViId
                    },
                },
                "columns": [
                    {
                        "data": "Id",
                        "render": function (data, type, row) {
                            return RenderButtonItem(data);
                        },
                        "class": "td-center",
                        "orderable": false
                    },
                    {
                        "data": "RowNum",
                        "class": "td-center td-stt",
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "data": "TaiKhoan",
                        "class": "td-center td-stt",
                        "searchable": true,
                        "orderable": false
                    },
                    {
                        "data": "HoTen",
                        "class": "td-center td-stt",
                        "searchable": true,
                        "orderable": false
                    }
                ]
            });
        }

        function ListNguoiDungChuaCoDonVi() {
            var url = "/NguoiDung/GetNguoiDungChuaCoDonVi/";
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    var data = response.data; 
                    $('#Id')[0].options.length = 0;
                    data.map((value, index) => {
                        var $newOption = $("<option></option>").val(value.Id).text(value.TaiKhoan + " - " +value.HoTen)

                        $("#Id").append($newOption).trigger('change');
                    })
                             
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        } 
        function DeleteNguoiDungRaKhoiDonVi(url) {
            var donViId = $("#DonViId").val();
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        LoadDataNguoiDungTheoDonVi(donViId);
                        ListNguoiDungChuaCoDonVi();
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
    </script>
}